@import "../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 5%;
  background-color: $primary-brand-colour;
  color: $background-colour;
  width: 80%;
  width: 1400px;
  margin: 0 auto;
  border-radius: 4rem;
}

.leftSide {
  flex: 1; /* Take up equal space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navButtons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 200px;

  button {
    padding: 10px 20px;
    border: 1px solid $primary-brand-colour;
    background-color: $background-colour;
    color: $primary-brand-colour;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $primary-brand-colour;
      color: $background-colour;
    }
  }
}

.rightSide {
  flex: 2; /* Take up more space than the left side */
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  p {
    font-size: $font-size-normal;
    margin-bottom: 2rem;
  }

  h2 {
    padding-bottom: 2rem;
  }
}

.generatedPropsContainer {
  background-color: $background-colour;
  color: $primary-brand-colour;
  min-height: 200px;
  overflow: auto;
  border-radius: 1.5rem;
  padding: 1.5rem;

  white-space: pre-wrap;
  font-family: monospace;
}

.form {
  display: flex;
  flex-direction: column;

  .inputField {
    min-height: 40px;
    padding: 5px;
    margin: 10px 0;
  }
}

.copyButton {
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.copyButton:hover {
  background-color: #005bb5;
}
