// Colour variables
$primary-brand-colour: #22333B;
$secondary-brand-colour: #FF6F61;
$background-colour: #F5F0E9;
$background-off-colour: #B7AEA3;

// Font variables
$font-size-large: 1.5rem;
$font-size-normal: 1.2rem;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 300;