// styles/globals.scss or styles/_fonts.scss
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import './variables';

/* styles/globals.scss */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-brand-colour;
  background-color: $background-colour;
}

h1 {
  font-size: 5rem;
  margin: 0;
  padding-bottom: 2rem;
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding-bottom: 2rem;
  line-height: 1.6;
  font-size: $font-size-normal;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
