@import "../../../styles//variables";

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 70rem;
}

.customiseBtn {
  text-decoration: none;
  font-size: $font-size-normal;
  color: $background-colour;
  font-weight: $font-weight-bold;
  background-color: $primary-brand-colour;
  border: 3px solid $background-colour;
  padding: 7px 50px;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
  cursor: pointer;

  display: block;
  margin-left: auto; 
  margin-right: auto; 

  &:hover {
    background-color: $background-colour;
    border: 3px solid $background-colour;
    color: $primary-brand-colour;
    text-decoration: none;
  }
}