@import "../styles/variables";

/* styles/AboutUs.module.scss */
.bg {
  background-color: $secondary-brand-colour;
  color: $background-colour;
  padding: -1rem 1px 1px;
  margin-left: 100px 100px 100px;
  max-width: 1400px;
  width: 80%;
  border-radius: 6rem 6rem 6rem 6rem;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg2 {
  background-color: $primary-brand-colour;
  color: $background-colour;
  padding: 5rem 4% 4%;
  margin: 05% 5% 5%;
  max-width: 1400px;
  width: 80%;
  border-radius: 5rem 5rem 5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
