@import '../styles/variables';

.docsContainer {
  display: flex;
  flex-direction: column; // Change to column layout to stack content and footer
  height: 80vh; // Full viewport height
  width: 80%;
  max-width: 1400px;
  background-color: $background-colour;
  color: $primary-brand-colour;
}

.docsNav {
  position: fixed; // Keep the navigation fixed
  height: 100vh; // Set height to full viewport height
  padding: 2rem;
  overflow: auto; // Enable scrolling if necessary

  ul {
    list-style-type: none;
    padding: 0;

    a {
      font-weight: $font-weight-medium;
      color: $primary-brand-colour;
      text-decoration: none;
      display: block;
      padding: 0.5rem 0;
      transition: color 0.3s;

      &:hover {
        color: $secondary-brand-colour;
      }
    }
  }
}

.divider {
  width: 1px; /* Thickness of the divider */
  background-color: $primary-brand-colour; /* Color of the divider */
  margin: 2rem 0; /* Space around the divider */
}

.docsContent {
    margin-left: 20%; // Ensure content starts after nav
    width: 80%; // Content area width
    height: 80vh; // Set the height based on your layout requirements
    overflow-y: auto; // Enable vertical scrolling only on the content area
    padding: 2rem;

    direction: rtl; // This will affect the placement of the scrollbar
    text-align: left;
  
    // Custom scrollbar styles for WebKit browsers
    &::-webkit-scrollbar {
      width: 15px; // Width of the scrollbar
      height: 0;
    }

  
    &::-webkit-scrollbar-thumb {
      background: $primary-brand-colour;
      border-radius: 20px; // Rounded corners for thumb
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: $secondary-brand-colour; // Color of thumb on hover
    }
  
    // Custom scrollbar styles for Firefox
    scrollbar-width: thin; // Makes the scrollbar thinner
    scrollbar-color: $background-off-colour $background-colour; // Thumb color and track color
    border-radius: 20px;
  
    h2 {
      font-size: $font-size-large;
      margin-bottom: 1rem;
      margin-top: 2.5rem;
    }
  
    p,
    code {
      font-size: $font-size-normal;
      margin-bottom: 0.5rem;
      text-align: left;
      padding-bottom: 0;
    }
  
    code {
      display: block;
      background-color: $background-off-colour;
      padding: 0.5rem;
      border-radius: 5px;
    }
  }
  
  .punctuation {
    direction: ltr;
  }