@import '../styles/variables';

.docsContainer {
  display: flex;
  flex-direction: column; // Change to column layout to stack content and footer
  height: 78vh; // Full viewport height
  width: 80%;
  max-width: 1400px;
  background-color: $background-colour;
  color: $primary-brand-colour;
}

.docsNav {
  position: fixed; // Keep the navigation fixed
  padding: 2rem;
  overflow: auto; // Enable scrolling if necessary

  ul {
    list-style-type: none;
    padding: 0;

    a {
      font-weight: $font-weight-medium;
      color: $primary-brand-colour;
      text-decoration: none;
      display: block;
      padding: 0.5rem 0;
      transition: color 0.3s;

      &:hover {
        color: $secondary-brand-colour;
      }
    }
  }
}

.divider {
  width: 1px; /* Thickness of the divider */
  background-color: $primary-brand-colour; /* Color of the divider */
  margin: 2rem 0; /* Space around the divider */
}

.docsContent {
    margin-left: 20%; // Ensure content starts after nav
    width: 80%; // Content area width
    height: 78vh; // Set the height based on your layout requirements
    overflow-y: auto; // Enable vertical scrolling only on the content area
    padding: 2rem;

    direction: rtl; // This will affect the placement of the scrollbar
    text-align: left;
  
    // Custom scrollbar styles for WebKit browsers
    &::-webkit-scrollbar {
      width: 15px; // Width of the scrollbar
      height: 0;
    }

  
    &::-webkit-scrollbar-thumb {
      background: $primary-brand-colour;
      border-radius: 20px; // Rounded corners for thumb
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: $secondary-brand-colour; // Color of thumb on hover
    }
  
    // Custom scrollbar styles for Firefox
    scrollbar-width: thin; // Makes the scrollbar thinner
    scrollbar-color: $background-off-colour $background-colour; // Thumb color and track color
    border-radius: 20px;
  
    h2 {
      font-size: $font-size-large;
      margin-bottom: 1rem;
      margin-top: 2.5rem;
    }

    .firstTitle {
        margin-top: 0rem;
    }
  
    p,
    code {
      font-size: $font-size-normal;
      margin-bottom: 0.5rem;
      text-align: left;
      padding-bottom: 0;
    }
  
    code {
      background-color: $background-off-colour;
      padding: 0.5rem;
      border-radius: 1rem;
      padding-left: 1rem;
      padding-top: 1rem;
    }
  }
  
  .punctuation {
    direction: ltr;
  }

  .codeContainer {
    display: flex;
    margin-bottom: 1rem;
    background-color: $background-off-colour;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    justify-content: space-between;

    p {
        padding-top: 1rem;
    }
  }

  .spinnerTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
  
    th,
    td {
      padding: 0.75rem;
      text-align: left;
      border: 1px solid $background-off-colour;

    }
  
    thead {
  
      th {
        font-weight: $font-weight-bold;
      }
    }
  
    tbody {
      tr {
        background-color: $background-colour; // Keeps the same background for all rows
      }
    }
  
    code {
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.9rem;
    }
  }

  .codeIntroText {
    font-size: 1.2rem;
  }
  
  .codeSnippetContainer {
    margin-bottom: 2rem;
  }
  
  .codeHeading {
    font-size: $font-size-normal;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
  }
  
  .codeBlock {
    font-family: 'Courier New', monospace;
    border-radius: 2rem;
    padding: 1rem;
    overflow-x: auto; /* Allows horizontal scrolling */
    white-space: pre-wrap; /* Keeps formatting intact */
    word-wrap: break-word; /* Wraps long lines of code */
    line-height: 1.5;
    background-color: $background-off-colour;
    direction: ltr;

    code {
        padding-top: 0rem;
    }
  }

  .tableHeading {
    padding-top: 1.2rem;
  }