.layoutWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ensures layout takes up full viewport height */
    max-width: 100vw;   /* Prevents the layout from exceeding the screen width */
}

.mainContent {
    flex: 1;
    display: flex;            /* Enables flexbox */
    justify-content: center;   /* Centers content horizontally */
    align-items: center;       /* Centers content vertically */
}