@import "../../styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 5%;
  background-color: $primary-brand-colour;
  color: $background-colour;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 4rem;
  margin-bottom: 2rem;
}

.leftSide {
  flex: 1; /* Take up equal space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navButtons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  button {
    padding: 7px 50px;
    border: 3px solid $background-colour;
    font-size: $font-size-normal;
    background-color: $primary-brand-colour;
    color: $background-colour;
    border-radius: 2rem;
    cursor: pointer;
    margin: 0 1rem;
    font-weight: $font-weight-bold;

    &:hover {
      background-color: $background-colour;
      color: $primary-brand-colour;
      border: 3px solid $primary-brand-colour;
    }

    &.disabled {
        opacity: 30%;
        cursor: not-allowed;
        pointer-events: none;
      }
  }
}

.rightSide {
  flex: 2; /* Take up more space than the left side */
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

    h1 {
        padding-bottom: 0rem;
    }

  p {
    font-size: $font-size-normal;
    padding-bottom: 0rem !important;
  }

  h2 {
    padding-bottom: 2rem;
  }
}

.generatedPropsContainer {
  background-color: $background-colour;
  color: $primary-brand-colour;
  overflow: auto;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 2rem;

  white-space: pre-wrap;
  font-family: monospace;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;

}

.inputField {
    display: flex;
    align-items: center; /* Centers the label and input vertically */
    margin-bottom: 0.7rem;
    margin-left: 1.5rem;
  
    label {
      width: 30%; /* Adjust width as needed for right-aligned label */
      text-align: right; /* Align label text to the right */
      padding-right: 1rem; /* Optional: Adds space between label and input */
    }
  
    .input {
      width: 25%;
      color: $background-colour;
      border: 2px solid $background-colour;
      background-color: $primary-brand-colour;
      border-radius: 1rem;
      padding: 7px 15px;

      &:focus {
        background-color: lighten($primary-brand-colour, 10%);
        outline: none;
        border-color: $background-colour;
      }

      &:hover {
        background-color: lighten($primary-brand-colour, 10%);
        cursor: pointer;
      }
    }
  }
  

.copyButton {
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.copyButton:hover {
  background-color: #005bb5;
}

.pageBtn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
    font-size: $font-size-normal;
    color: $background-colour;
    font-weight: $font-weight-bold;
    background-color: $primary-brand-colour;
    border: 3px solid $background-colour;
    padding: 7px 50px;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
  
    display: block;
    margin-left: auto; 
    margin-right: auto; 
  
    &:hover {
      background-color: $background-colour;
      border: 3px solid $background-colour;
      color: $primary-brand-colour;
      text-decoration: none;
    }
  }